 <br>
 <br>
 <div class="container bg-light">
      <div class="text-center my-5">
        <div class="mt-4 mb-4">
                <h2 class="mt-5 mb-5 border border-success bg-success text-white rounded   " style="text-align: center;">Our Blogs </h5>

              </div>
            <div class="h4 pb-2 mb-2 text-danger border-bottom border-danger">
            </div>
        <hr />
      </div>

      <div class="row">
         {{#each data}}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="{{image}}" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
               <h2>{{title}}</h2>
              </div>
              <div class="card-text">
                <p>
                 {{details}}
                </p>
              </div>
              {{!-- <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              > --}}
            </div>
          </div>
        </div>
         {{/each}}



        {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/b.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/c.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              >
            </div>
          </div>
        </div> --}}

        {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/d.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              >
            </div>
          </div>
        </div> --}}

        {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/e.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              >
            </div>
          </div>
        </div> --}}

        {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
            <img src="imgs/f.jpg" class="img-fluid" />

            <div class="card-body">
              <div class="card-title">
                <h2>This is the blog title</h2>
              </div>
              <div class="card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Deleniti corporis quis ab. Exercitationem et quibusdam
                  impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                  maxime facere, quod harum aliquid in...
                </p>
              </div>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end"
                >Read More</a
              >
            </div>
          </div>
        </div> --}}
      </div>
    </div>