
<br>
<br>
<br>


<div class="blog_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Our Bolgs</h1>
           
            {{#each data}}

            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src="{{image}}" class="image_7" style="width:100%">
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">{{title}}</h4>
                     <p class="ipsum_text">{{details}} </p>
                  </div>
               </div>
            </div>
             {{/each}}


            
         </div>
      </div>
      <!-- blog section end -->
      